@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Sunflower:wght@300&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Sunflower:wght@300&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
section {
 min-height: 100vh;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: -12px;
  padding-right: -12px;

}

.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
/* section details  */
.bg-img{
    background-image: url(/assets/image/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-heading {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 48px;
}
.content {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 10px;
}
.color-blue {
  color: #2563eb;
}
input[type="text"] {
  border: none;
  background: #f5f8ff;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gap-10 {
  gap: 10px;
}
.label-box {
  background-color: #f5f8ff;
  padding: 13px 16px 13px 16px;
  border-radius: 6px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-10 {
  margin-top: 10px;
}
.max-w-340 {
  max-width: 340px;
}
.pt-12 {
  padding-top: 12px;
}
.check-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #62656d;
}
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 24px;
  width: 100%;
  background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
color: white;
border-radius: 100px;
border: none;
padding: 14px;
}
.cursor{
    cursor: pointer;
}
.line-text{
    font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #9197A6;
background-color: white;
position: relative;
margin-top: 16px;
}
.line{
position: relative;
}
.line::after{
    content: "";
    position: absolute;
    width: 100%;
   border: 1px solid #C9CFDB;
   top: 50%;
   left: 0;
}
.line::before{
    content: "or continue with";
    position: absolute;
    width: 100%;
   left: 0;
   padding-left: 5px;
   padding-right: 5px;
   width: 30%;
   left: 32%;
   background: white;
   z-index: 2;
}
.btn-2{
    padding: 10px 46px 10px 46px;
    margin-top: 20px;
    background: white;
    border: 1px solid #E4EAF7;
    border-radius: 6px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.gap-8{
    gap: 8px;
}
.blue-img-2{
    position: relative;
}
.blue-img-2{
    background-image: url(/assets/image/blue-img-right.png);
    min-height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow-1{
    position: absolute;
    left: -150%;
    top: -20%;
}
.w-100{
    width: 100%;
}
.arrow-2{
  height: 242px;
  width: 95px;
  padding-left: 50px;
  display: flex;
  position: relative;
}
.svg-border{
    height: 64px;
    width: 64px;
    background: white;
    padding: 9px;
    border-radius: 100px;
    left: -200%;
    top: -30%;
}
.svg-border:hover{
    background-color: #E4E1E6;
    cursor: pointer;
}
.position{
 position: absolute;
  position: absolute;
}
.position-2{
    position: absolute;
    top: 12%;
}
.position-3{
    position: absolute;
    top: 60%;
}
.position-4{
    position: absolute;
    top: 100%;
}
.d-none{
    display: none;
}
.col-12{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
@media (min-width:1200px) {
    .col-xl-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}
}
@media (max-width:1200px) {
    .blue-img-2{
    background-image: url(/assets/image/blue-img-right.png);
    min-height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
   bottom: 0 ;
   left: 0;
   right: 0;
   top: 100%;
   width: 100%;

}
.max-w-340{
    max-width: 100% !important;
}
}
@media (max-width:670px) {
    .d-none-md{
        display: none;
    }
    .d-block-md{
        display: block;
    }

  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .gap-20{
    gap: 40px;
  }
  .mt-50{
    margin-top: 50px;
  }
  .blue-img-2{
    min-height: 90vh;
  }
  .md-flex-col{
    flex-direction: column;
  }
 .md-mb-20{
    margin-bottom: 10px;
 }
 .btn-2{
    margin-top: 10px;
 }
 .set-md{
    margin-top: 50px;
 }
 .card-2{
    margin-left: 12px;
    margin-right: 12px;
 }
 .size-change{
    max-width: 400px;
 }
}
@media (max-width:420px) {
    .gap-15-sm{
        gap: 15px;
    }
}

@media (max-width:380px) {
    .line{
    margin-bottom: 20px;
}
.line::after{
    content: "";
    position: absolute;
    width: 100%;
   border: 1px solid #C9CFDB;
   top: 90%;
   left: 0;
}
}