@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Sunflower:wght@300&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Sunflower:wght@300&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

section {
  min-height: 100vh;
  align-content: center;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 margin-left: -12px;
 margin-right: -12px;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* section details  */
.bg-img {
  background-image: url(/assets/image/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-heading {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 48px;
}

.content {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 10px;
}

.color-blue {
  color: #2563eb;
}

input[type="email"] {
  border: none;
  background: #f5f8ff;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  outline: none;
}

input[type="password"] {
  border: none;
  background: #f5f8ff;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  outline: none;
}

input[type="text"] {
  border: none;
  background: #f5f8ff;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  outline: none;
}

.border-none {
  border: none;
  background: none;
}

.gap-10 {
  gap: 10px;
}

.label-box {
  background-color: #f5f8ff;
  padding: 13px 16px 13px 16px;
  border-radius: 6px;
  border: 2px solid #f5f8ff;
  transition: all 300ms linear;
}

.label-box:hover {
  border: 2px solid black;
}

.mt-32 {
  margin-top: 32px;
}

.mt-10 {
  margin-top: 10px;
}

.max-w-340 {
  max-width: 340px;
}

.pt-12 {
  padding-top: 12px;
}

.check-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #62656d;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 24px;
  width: 100%;
  background: linear-gradient(83.67deg, #2194ff 10.02%, #2563eb 90.05%);
  color: white;
  border-radius: 100px;
  border: none;
  padding: 14px;
  transition: all 300ms linear;
}

.btn:hover {
  background: linear-gradient(83.67deg, #7ec8d8 10.02%, #4194c2 90.05%);
}

.btn-2:hover {
  background: #f5f8ff;
  /* transform: scaleY(1.1); */
}

.cursor {
  cursor: pointer;
}

.line-text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9197a6;
  background-color: white;
  position: relative;
  margin-top: 16px;
}

.line {
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #c9cfdb;
  top: 50%;
  left: 0;
}

.line::before {
  content: "or continue with";
  position: absolute;
  /* width: 100%; */
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 30%;
  left: 32%;
  background: white;
  z-index: 2;
  width: 117px;
}

.btn-2 {
  padding: 10px 46px 10px 46px;
  margin-top: 20px;
  background: white;
  border: 1px solid #e4eaf7;
  border-radius: 6px;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 300ms linear;
}

.gap-8 {
  gap: 8px;
}

.blue-img-2 {
  position: relative;
}

.blue-img-2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background: url(/assets/image/blue-img-right.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}

.w-100 {
  width: 100%;
}

.svg-border {
  height: 64px;
  width: 64px;
  background: white;
  padding: 9px;
  border-radius: 100px;
  left: -200%;
  top: -30%;
  transition: all 300ms linear;
}

.svg-border:hover {
  background-color: #c1cff0;
  cursor: pointer;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, -300%);
}

.position-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, -140%);
}

.position-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, 40%);
}

.position-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, 190%);
}

.d-none {
  display: none;
}

.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.position-relative {
  position: relative;
  z-index: 2;
}

  .chid-1 {
    position: relative;
  }

  .child-2 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .child-3 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
  }

  .child-4 {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
  }

  .z-2 {
    z-index: 2;
  }

@media (min-width: 1225px) {
  .col-xl-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-xl-5 {
    width: 41.33%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 1225px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
  }

  .mx-auto{
  margin-left: auto;
  margin-right: auto;
}
  .blue-img-2::after {
    display: none;
  }

  section {
    min-height: unset;
  }

  .card-3 {
    position: relative;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .card-1 {
    display: none;
  }

  .upper-layer-2 {
    position: relative;
    margin-top: 30px;
  }

  .upper-layer-2::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(/assets/image/blue-img-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .container {
    /* padding: 0; */
    max-width: unset;
  }

}

@media (max-width: 768px) {
  .md-flex-col {
    flex-direction: column;
  }

  .card-3 {
    display: none;
  }

  .d-block-md {
    display: block;
  }

  .card-1 {
    display: none;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .card-2 {
    margin-top: 50px;
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .blue-img-2::after {
    position: unset;
  }

  .upper-layer {
    position: relative;
  }

  .upper-layer::after {
    content: "";
    position: absolute;
    background: url(/assets/image/blue-img-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    /* margin-top: 30px; */
  }

  .gap-20 {
    gap: 20px;
  }

  .mx-12 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 410px) {
  .card-2 {
    max-width: 280px;
  }

  .svg-border {
    height: 50px;
  }
}